version: 2.1
jobs:
  release:
    docker:
      - image: circleci/golang:1.24.1
    working_directory: /go/src/github.com/firehydrant/fhcli
    steps:
      - checkout
      - run: echo machine github.com > ~/.netrc
      - run: echo login fh-releaser >> ~/.netrc
      - run: echo password $GITHUB_TOKEN >> ~/.netrc
      - run: curl -sL https://git.io/goreleaser | bash
workflows:
  version: 2
  release:
    jobs:
      - release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-.*)*/
